<div class="body">
<form>
  <h2>Armado de presupuesto</h2>
  <div>
    <label for="numero_presupuesto">Numero de presupuesto</label>
    <input id="numero_presupuesto" [(ngModel)]="datosPresupuesto.numeroPresupuesto" name="numero_presupuesto" required>
  </div>
  <div>
    <label for="senores">Señor/es:</label>
    <input id="senores" [(ngModel)]="datosPresupuesto['señor/es']" name="senores" required>
  </div>
  <div>
    <label for="domicilio">Domicilio:</label>
    <input id="domicilio" [(ngModel)]="datosPresupuesto.domicilio" name="domicilio" required>
  </div>
  <div>
    <label for="localidad">Localidad:</label>
    <input id="localidad" [(ngModel)]="datosPresupuesto.localidad" name="localidad" required>
  </div>
  <div>
    <label for="marcaVehiculo">Marca del vehículo:</label>
    <input id="marcaVehiculo" [(ngModel)]="datosPresupuesto.marcaVehiculo" name="marcaVehiculo">
  </div>
  <div>
    <label for="modelo">Modelo:</label>
    <input id="modelo" [(ngModel)]="datosPresupuesto.modelo" name="modelo">
  </div>
  <div>
    <label for="chapaPatente">Chapa Patente:</label>
    <input id="chapaPatente" [(ngModel)]="datosPresupuesto.chapaPatente" name="chapaPatente">
  </div>

  <hr>

  <h2>Detalle del Trabajo</h2>
  <table>
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Cantidad</th>
        <th>Precio Unitario</th>
        <th>Total</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
        @for(item of datosPresupuesto.detalle; track $index){
            <tr>
        <td>
          <input [(ngModel)]="item.nombre" name="nombre{{$index}}" required>
        </td>
        <td>
          <input type="number" [(ngModel)]="item.cantidad" name="cantidad{{$index}}" (change)="calcularTotal()" required>
        </td>
        <td>
          <input type="number" [(ngModel)]="item.precioUnitario" name="precioUnitario{{$index}}" (change)="calcularTotal()" required>
        </td>
        <td>
          $ {{ item.precioTotal  }}
        </td>
        <td>
          <button type="button" (click)="eliminarItem($index)" mat-raised-button color="warn">Eliminar</button>
        </td>
            </tr>
        }

    </tbody>
  </table>
  <div class="boton-agregar"><button type="button" (click)="agregarItem()" mat-raised-button color="accent">Agregar</button></div>


  <hr>

  <h2>Observaciones</h2>
  <div>
    <textarea [(ngModel)]="datosPresupuesto.observaciones" name="observaciones"></textarea>
  </div>
  <h3>Total General: $ {{ datosPresupuesto.total }}</h3>

</form>

<button (click)="onGeneratePDF()">Generar PDF</button>

</div>
